<ion-header>
  <ion-toolbar color="">
    <ion-title>Categoria</ion-title>


    <ion-toolbar color="">
      <ion-searchbar color="warning" placeholder = "Buscar nombre o marca o categoria" [debounce]="1000" animated (ionChange)="handleChange($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-toolbar>

</ion-header>
<ion-content>


  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card color="" (click)="openMedicamento()" >
      <ion-card-header  >
        <ion-card-title >
          <h1 id = "card">
           medicamentos
          </h1></ion-card-title>
      </ion-card-header>
    </ion-card>
    <br>
    <ion-card color="" (click)="openCremas()" >
      <ion-card-header >
        <ion-card-title >
          <h1 id = "card">
           cremas
          </h1></ion-card-title>
      </ion-card-header>

    </ion-card>

    <br>
    <ion-card color="" (click)="openPerfumes()" >
      <ion-card-header >
        <ion-card-title >
          <h1 id = "card">
           perfumes
          </h1></ion-card-title>
      </ion-card-header>

  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button [routerLink]="['/']" >
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>Salir</ion-label>

          </ion-tab-button>


        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

