<ion-header>
  <ion-toolbar >
    <ion-title>Medicamentos</ion-title>


    <ion-toolbar >
      <ion-searchbar color="warning" placeholder = "Buscar nombre o marca o categoria" [debounce]="1000" animated (ionChange)="handleChange($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-toolbar>

</ion-header>
<ion-content>


  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let detalles of resultados">
      <ion-img [src]="detalles.imagen"></ion-img>
      <ion-card-header >
        <ion-card-title >
          <h1 id = "card">
            {{detalles.nombre}} {{detalles.marca}}
          </h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3 id = "card">{{detalles.categoria}}</h3>
      <h3 id = "card"> {{detalles.precio | currency:'CLP'  }} </h3>

      </ion-card-content>
      <ion-button  [routerLink]="['/detalle-producto',detalles.id]" color="success" >
        <ion-icon name="reorder-four-outline"></ion-icon>
      </ion-button>


    </ion-card>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/producto']" >
          <ion-icon name="arrow-undo-outline"></ion-icon>
          <ion-label>Volver</ion-label>

        </ion-tab-button>

        <ion-tab-button [routerLink]="['/login']" >
          <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
          <ion-label>Usuario</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openCart()" >
          <ion-icon name="cart" class="cart-icon"></ion-icon>
          <ion-label>Carrito</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
