<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>


</ion-toolbar>


</ion-header>
<ion-content>




  <ion-card style="text-align:center">
    <ion-card-header>
      <ion-card-title color="dark">Login</ion-card-title>
      <ion-img #iconoAnim src="https://static.vecteezy.com/system/resources/previews/007/438/687/non_2x/illustration-of-a-pharmacy-health-pharmacy-logo-free-vector.jpg" class="img"></ion-img>

    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item  >
          <ion-label position="floating" style="font-weight:bold">Nombre</ion-label>
          <ion-input  (click)="animacion()" formControlName="nombre"></ion-input>
          <ion-note
      slot="error"
        *ngIf="campo('nombre').invalid  && campo('nombre').errors && campo('nombre').errors.required && fueTocado('nombre') "
       >
       Este campo es obligatorio
      </ion-note>
      <ion-note
      slot="error"
        *ngIf="campo('nombre').invalid  && campo('nombre').errors && campo('nombre').errors.maxlength && fueTocado('nombre') "
      >
        Los caracteres maximos son 20
      </ion-note>
      <ion-note
      slot="error"
        *ngIf="campo('nombre').invalid  && campo('nombre').errors && campo('nombre').errors.minlength && fueTocado('nombre') "
      >
        Los caracteres minimos son 3
      </ion-note>
        </ion-item>
<ion-item>
          <ion-label position="floating" style="font-weight:bold">Contraseña</ion-label>
          <ion-input (click)="animacion()" formControlName="contraseña" type="password"></ion-input>
          <ion-note
      slot="error"
        *ngIf="campo('contraseña').invalid  && campo('contraseña').errors && campo('contraseña').errors.required && fueTocado('contraseña') "
       >
       Este campo es obligatorio
      </ion-note>
      <ion-note
      slot="error"
        *ngIf="campo('contraseña').invalid  && campo('contraseña').errors && campo('contraseña').errors.maxlength && fueTocado('contraseña') "
      >
        Los caracteres maximos son 20
      </ion-note>
      <ion-note
      slot="error"
        *ngIf="campo('contraseña').invalid  && campo('contraseña').errors && campo('contraseña').errors.minlength && fueTocado('contraseña') "
      >
        Los caracteres minimos son 3
      </ion-note>
        </ion-item>
      </form>
      <br>
      <ion-button color="danger" style="margin-left: 10px"  (click)="startLoad()" (click)="ingresar()">
        Ingresar
        <ion-icon name="reload" slot="end" #loadingIcon></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/registro']"color="danger" style="margin-left: 10px">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/medicamentos']" >
          <ion-icon name="arrow-undo-outline"></ion-icon>
          <ion-label>Volver</ion-label>

        </ion-tab-button>

        <ion-tab-button [routerLink]="['/']" >
          <ion-icon name="grid-outline" aria-hidden="true"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openCart()" >
          <ion-icon name="cart" class="cart-icon"></ion-icon>
          <ion-label>Carrito</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>















<style>

  .img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
  }



  </style>
