<ion-header>
  <style>
    .btn-1  {
      border:0px;
  padding: 0px;
  margin-left: -5px;
  margin-top:0px;
    }
    .btn-2 {
  border:0px;
  padding: 0px;
  margin-left: 110px;
  margin-top:-70px;


  }


  </style>
    <ion-toolbar>
    <h6 style ="margin-left: 10px;">Medio de pago </h6>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>

    </ng-template>
  </ion-modal>
    </ion-toolbar>
  </ion-header>


  <ion-content>

    <h6 style ="margin-left: 10px;">Usuario : {{nombreUsuario}} </h6>

  <br>
    <h4 style ="margin-left: 33px;">Informacion Adicional</h4>
    <ion-list>
      <ion-radio-group [allowEmptySelection]="true" value="turtles">

      <ion-card>
        <ion-card-content>
          <form>



      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text"  placeholder="Ingrese su Nombre"></ion-input>

      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo Electonico</ion-label>
        <ion-input type="text" placeholder="Ingrese Correo Electronico"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Hogar</ion-label>
        <ion-select [interfaceOptions] interface="alert" placeholder="Seleccione nivel">
          <ion-select-option value="Departamento">Departamento</ion-select-option>
          <ion-select-option value="Casa">Casa</ion-select-option>
          <ion-select-option value="Cite">Cite</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Direccion</ion-label>
        <ion-input type="text" placeholder="Ingrese Direccion"></ion-input>
      </ion-item>


        <ion-label >Medio de pago</ion-label>
        <ion-item>
          <ion-label>Tarjeta Debido</ion-label>
          <ion-radio slot="end" value="dogs"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Tarjeta Credito</ion-label>
          <ion-radio slot="end" value="cats"></ion-radio>
        </ion-item>


      <br>
      <h6 style ="margin-left: 10px;">Total : {{totalCarrito}} </h6>


    </form>
    </ion-card-content>
    </ion-card>
  </ion-radio-group>
    </ion-list>
    <ion-button expand="full"    (click)="checkout()">
      Confirmar Compra
    </ion-button>
  </ion-content>

  <ion-footer>



  </ion-footer>
